.container {
  background-color: black;
  min-height: 135px;
}
.containerInner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 135px;
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation__item {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  margin: 0 18px;
}

.btn__icon {
  margin-right: 15px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
